* {
  margin: 0;
  padding: 0;
}

#game-video {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;

  position: relative;
}

#game-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#control {
  position: absolute;
  background-color: white;
  width: 20vh;

  display: block;
  top: 1vh;
  left: 1vh;
  border-radius: 3vh;
}

#control img {
  width: 4vh;
  margin: 1vh;
}
